.root {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 6px;
  background: var(--color-background-tertiary);
}

.status-active {
  background: rgba(76, 175, 80, 0.1);
}

.status-inactive {
  background: rgba(158, 158, 158, 0.1);
}

.status-moderation {
  background: rgba(255, 152, 0, 0.1);
}
