.skeletonElement {
  background-color: var(--color-appliedSeparator);
  animation: pulse 1.5s infinite;
  border-radius: 12px;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
