.container {
  padding-bottom: 16px;
}

.pricingRow {
  padding: 8px 0;
}

.priceInput {
  flex: 1;
  max-width: 90px;
  height: 28px;
}

.priceTextContainer {
  flex: 1;
  height: 48px;
}

.priceLabel {
  min-width: 100px;
}
