.root {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 6px;
  background: var(--color-background-tertiary);
}

.status-completed {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-state-success);
    opacity: 0.2;
    border-radius: 6px;
    z-index: 0;
  }
}

.status-declined,
.status-refunded {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-state-destructive);
    opacity: 0.2;
    border-radius: 6px;
    z-index: 0;
  }
}

.status-approved,
.status-paid,
.status-creative_approved,
.status-scheduled,
.status-posted,
.status-verified {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-accent-primary);
    opacity: 0.2;
    border-radius: 6px;
    z-index: 0;
  }
}
