.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  min-width: 180px;
  border-radius: 10px;
  background-color: var(--color-segmentControl-background);
  backdrop-filter: blur(25px);
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2);
  z-index: 0;
  transition: 0.2s;
  opacity: 0;
  transform-origin: top right;
}

.dropdownActive {
  overflow-y: scroll;
  height: fit-content;
  max-height: 320px;

  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 11px 16px;
  cursor: pointer;
  gap: 8px;
  border-bottom: 0.33px solid var(--color-border-separator);

  &:last-child {
    border-bottom: none;
  }
}

.checkIcon {
  opacity: 0;
}

.checkIconActive {
  opacity: 1;
}
