.container {
  padding-bottom: 80px;
}

.filters {
  border-radius: 12px;
}
//
//.filterContainer {
//  background: var(--color-background-base);
//}

.orderByContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--color-backgroundPrimary);
  transition: background 0.2s;
  position: relative;
}

.orderByContainer:hover {
  background: var(--color-backgroundTertiary);
}
