f.togglerContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.toggler {
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 34px;
  background-color: var(--color-backgroundSecondary);
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s ease;
  outline: none;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.togglerEnabled {
  background-color: var(--color-accentsGreen);
}

.togglerDisabled {
  opacity: 0.5;
}

.togglerThumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.togglerThumbEnabled {
  transform: translateX(20px);
}
