.container {
  padding-bottom: 80px;
}

.section {
  padding: 16px;
  background-color: var(--color-background-base);
  border-radius: 12px;
}

.botButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  background-color: var(--color-accentsBrandCommunity);
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s;
  margin-top: 8px;

  &:active {
    opacity: 0.8;
  }
}
