.header {
  position: sticky;
  top: 0;

  margin-bottom: 16px;
  padding: 6px 12px;

  background: var(--color-background, #ffffff);
  border-bottom: 1px solid var(--color-backgroundTertiary, #e0e0e0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  z-index: 100;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: flex;
  //align-items: center;
}

.userInfo {
  flex-shrink: 0;
  width: fit-content !important;
}

.avatarLink {
  display: flex;
  align-items: center;
  background: var(--color-backgroundSecondary, #e0e0e0);
  border-radius: 100%;

  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
