.hero {
  font-size: 34px;
  font-style: normal;
  line-height: 41px;
}

.title {
  font-size: 28px;
  font-style: normal;
}

.title1 {
  font-size: 26px;
  font-style: normal;
}

.title2 {
  font-size: 24px;
  font-style: normal;
}

.text {
  text-align: center;
  font-size: 17px;
  font-style: normal;
  line-height: 22px;
}

.caption {
  font-size: 13px;
  font-style: normal;
}

.caption2 {
  font-size: 14px;
  font-style: normal;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.accent {
  color: var(--color-accent-primary);
}

.tertiary {
  color: var(--color-foreground-secondary);
  // color: var(--color-foreground-tertiary);
}

.secondary {
  color: var(--color-foreground-tertiary);
  // color: var(--color-foreground-secondary);
}

.primary {
  color: var(--color-foreground-primary);
}

.danger {
  color: var(--color-state-destructive);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.clickable {
  cursor: pointer;
}
