.selectWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  justify-content: flex-end;
}

.appSelect {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-accentsBrandCommunity);
  font-size: 17px;
  cursor: pointer;
  text-align: right;
  option {
    color: var(--color-accentsBrandCommunity);
    background: transparent;
  }
}

.icon {
  color: var(--color-accentsBrandCommunity);
}
