.container {
  padding-bottom: 80px;
}

.filters {
  margin-bottom: 8px;
  width: fit-content;
}

.orderByContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--color-backgroundPrimary);
  transition: background 0.2s;
  position: relative;
}

.orderByContainer:hover {
  background: var(--color-backgroundTertiary);
}
