.container {
  padding-bottom: 80px;
}

.dateInput {
  background-color: transparent;
  color: var(--color-textIconsPrimary);
  font-size: 17px;
  font-weight: 400;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-align: right;
  min-width: 180px;
}

.textarea {
  width: 100%;
  padding: 0;
  background-color: transparent;
  color: var(--color-textIconsPrimary);
  font-size: 17px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid var(--color-border);
  outline: none;
  box-sizing: border-box;
  font-family: inherit;
  resize: vertical;
  min-height: 120px;
  margin-top: 8px;
}
